
<div class="book-card" (click)="onContinue()" *ngIf="urlImage != '../assets/noImage.jpg'">
  <div class="book-card__cover">
    <div class="book-card__book">
      <div class="book-card__book-front">
        <img
          class="book-card__img"
          src="{{ urlImage }}"
        />
      </div>
      <div class="book-card__book-back"></div>
      <div class="book-card__book-side"></div>
    </div>
  </div>
  <div>
    <div class="book-card__title">{{ title }}</div>
    <div class="book-card__author">{{ author }}</div>
  </div>
</div>
