
<div class="book-card"  *ngIf="urlImage != '../assets/noImage.jpg'">
  <div class="book-card__cover">
    <div class="book-card__book">
      <div class="book-card__book-front">
        <img (click)="onContinue()"
          class="book-card__img"
          src="{{ urlImage }}"
        />
      </div>
      <div class="book-card__book-back"></div>
      <div class="book-card__book-side"></div>
    </div>
  </div>
  <div>
    <div class="book-card__title" (click)="onContinue()">{{ title }}</div>
    <div class="book-card__author">{{ author }}</div>
    <div class="book-card__like">
      <fa-icon (click)="likeUnlike()" [icon]="icone"></fa-icon>
    </div>
  </div>
</div>
