<div class="book-card">
    <div class="book-card__cover">
      <div class="book-card__book">
        <div class="book-card__book-front">
          <img
            class="book-card__img"
            src="../../assets/noImage.jpg"
          />
        </div>
        <div class="book-card__book-back"></div>
        <div class="book-card__book-side"></div>
      </div>
    </div>
    <div>
      <div class="book-card__title">Test title</div>
      <div class="book-card__author">Test Author</div>
    </div>
  </div>
  
  <a routerLink="/home">Retour a la liste</a>