.book-card {
    width: 80%;
    padding: 16px;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    color: #fff;

    background: rgb(211 211 211 / 25%);
    box-shadow: -3px 3px 16px 1px rgb(0 0 0 / 37%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 6px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    .book-card__cover {
      position: relative;
      width: 200px;
      margin: 2vh auto 2px auto;
      perspective: 1000px;
    }
    
    .book-card__book {
      height: 300px;
      transform-style: preserve-3d;
      transition: all 250ms ease;
    }
  
    .book-card__book-front {
      position: absolute;
      height: 100%;
    }
     
     .book-card__book-back {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transform: translateZ(-40px);
     }
  
    .book-card__book-side {
      position: absolute;
      top: 5px;
      bottom: 2px;
      right: -29px;
      width: 40px;
      background-size: 5px;
      background-color: #e1e1e1;
      background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
      opacity: 0;
      transform: rotate3d(0, 1, 0, 90deg);
    }
     
    .book-card__img {
      width: 100%;
      height: 100%;
      background-color: #e1e1e1;
    }
  
    .book-card__title {
      font-size: 1.5em;
      margin-bottom: 8px;
    }
  
    .book-card__author {
      color: #c9c9c9;
      font-size: 1em;
    }
  
    // STATES
    &:hover {
      .book-card__book{
        transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
      }
      
      .book-card__book-back {
        box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
      }
      
      .book-card__book-side {
        opacity: 1;
      }
    }
  }

  .book-card{
    &__detail{
      width: 50%;
    }

    &__rating {
      width: fit-content;
    }
    
  }

  .book-card__description{
    margin-top: 2vh;
    width: 100%;
  }

  .topPart {
    width: 90%;
  }


  // -----------------------------------------------------

  .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: rgb(121, 75, 75);
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(255, 51, 0);
    height: fit-content;
  }

  @media screen and (min-width: 800px) {
    .book-card {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &__detail{
        width:50%;
      }
    }
     

    .book-card__description{
      width: 80%;
    }

    .topPart {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

   
  }