<div class="book-card">
  <div class="topPart">
    <div class="book-card__cover">
      <div class="book-card__book">
        <div class="book-card__book-front">
          <img class="book-card__img" src="{{ urlImage }}" />
        </div>
        <div class="book-card__book-back"></div>
        <div class="book-card__book-side"></div>
      </div>
      <div class="book-card__tilteAuthor">
        <div class="book-card__title">{{ title }}</div>
        <div class="book-card__author">{{ author }}</div>
      </div>
    </div>

    <div class="book-card__detail">

      <div class="book-card__publicationDate">
        <div class="book-card__publicationDate--title">
          <h3>Date de Publication</h3>
        </div>
        <div class="book-card__publicationDate--text">
          <p>{{ publicationDate }}</p>
        </div>
      </div>

      <div class="book-card__publisher">
        <div class="book-card__publisher--title">
          <h3>Editeur</h3>
        </div>
        <div class="book-card__publisher--text">
          <p>{{ publisher }}</p>
        </div>
      </div>


      <div class="book-card__rating">
        <div class="book-card__rating--title">
          <h3>Vote</h3>
        </div>
        <div class="book-card__rating--stars">
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
            </span>
          </ng-template>
          <ngb-rating [(rate)]="rate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
        </div>

    </div>

  </div>
</div>


<div class="book-card__description">
  <div class="book-card__description--title">
    <h3>Description</h3>
  </div>
  <div class="book-card__description--text">
    <p [innerHTML]="description"></p>
  </div>
</div>






<a routerLink="">Retour a la liste</a>