<script defer src="../../../node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
<div class="wrap">
   <div class="search">
      <input type="text" id="texteInput" class="searchTerm" [(ngModel)]="txt" placeholder="Que cherchez-vous ? ">
      <div class="buttonSection">
      
         <div (click)= "submitText()" class="buttonSection__searchBook">
            <p>Rechercher par livre</p>
         </div>

         <div (click)= "submitText(true)" class="buttonSection__searchAuthor">
            <p>Rechercher par auteur</p>
         </div>
      </div>
    
   </div>
</div>
<div class="myLibrary">
   <p>Ma Bibliotheque</p>
</div>