.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(60,60,60);
    background: radial-gradient(circle, rgba(60,60,60,1) 0%, rgba(56,56,56,1) 52%, rgba(54,54,54,1) 100%);}